<h1>Listing resources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hybridization_resources.each do |hybridization_resource| %>
  <tr>
    <td><%= hybridization_resource.name %></td>
    <td><%= hybridization_resource.number %></td>
    <td><%= link_to 'Show', hybridization_resource %></td>
    <td><%= link_to 'Edit', edit_hybridization_resource_path(hybridization_resource) %></td>
    <td><%= link_to 'Destroy', hybridization_resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_hybridization_resource_path %>
