<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hybridization_resource.name %>
</p>

<p>
  <b>Number:</b>
  <%= @hybridization_resource.number %>
</p>


<%= link_to 'Edit', edit_hybridization_resource_path(@hybridization_resource) %> |
<%= link_to 'Back', hybridization_resources_path %>
